<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/style.css">
	<link rel="stylesheet" href="/styles/shop-product-editor.css">
	<title><%= product.title %></title>
</head>
<body>
	<%- include("partials/header") %>
	<main>
		<div id="product-form" class="panel">
			<h1><%= product.title %></h1>
			<p>£<%= product.variants[0].price %></p>
			<img src="<%= product.images[0] != null ? images[0].src : '/images/no-icon.png' %>">
			<p><%- product.description %></p>
			<a href="/shop/<%= product.api_id %>/editor">Go to editor.</a>
		</div>
	</main>
</body>
</html>