<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/style.css">
	<link rel="stylesheet" href="/styles/shop-product-editor.css">
	<title><%= title %></title>
</head>
<body>
	<main>
		<div id="product-form" class="panel">
			<h1><%= title %></h1>
			<p>£<%= price %></p>
			<img src="<%= icon %>">
			<p><%= desc %></p>
			<a href="/shop/<%= api_id %>?editor">Go to editor.</a>
		</div>
	</main>
</body>
</html>